@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?mn5up4');
  src:  url('fonts/icomoon.eot?mn5up4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?mn5up4') format('truetype'),
    url('fonts/icomoon.woff?mn5up4') format('woff'),
    url('fonts/icomoon.svg?mn5up4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-android:before {
  content: "\e900";
}
.icon-apple:before {
  content: "\e901";
}
.icon-copy:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-medium:before {
  content: "\e904";
}
.icon-refresh:before {
  content: "\e905";
}
.icon-telegram:before {
  content: "\e906";
}
.icon-youtube:before {
  content: "\e907";
}
.icon-twitter:before {
  content: "\e908";
}
