@font-face {
    font-family: 'Josefin Sans';
    src: url('JosefinSans-BoldItalic.eot');
    src: url('JosefinSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('JosefinSans-BoldItalic.woff2') format('woff2'),
        url('JosefinSans-BoldItalic.woff') format('woff'),
        url('JosefinSans-BoldItalic.ttf') format('truetype'),
        url('JosefinSans-BoldItalic.svg#JosefinSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('JosefinSans-Bold.eot');
    src: url('JosefinSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('JosefinSans-Bold.woff2') format('woff2'),
        url('JosefinSans-Bold.woff') format('woff'),
        url('JosefinSans-Bold.ttf') format('truetype'),
        url('JosefinSans-Bold.svg#JosefinSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jura';
    src: url('Jura-Regular.eot');
    src: url('Jura-Regular.eot?#iefix') format('embedded-opentype'),
        url('Jura-Regular.woff2') format('woff2'),
        url('Jura-Regular.woff') format('woff'),
        url('Jura-Regular.ttf') format('truetype'),
        url('Jura-Regular.svg#Jura-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jura';
    src: url('Jura-Bold.eot');
    src: url('Jura-Bold.eot?#iefix') format('embedded-opentype'),
        url('Jura-Bold.woff2') format('woff2'),
        url('Jura-Bold.woff') format('woff'),
        url('Jura-Bold.ttf') format('truetype'),
        url('Jura-Bold.svg#Jura-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

